      <h2>Je suis l'instance n° <span class="badge badge-dark"><%= @instance %></span></h1>
      <h2>Mon adresse est <span class="badge badge-dark"><%= @addr %></span></h2>
<br/>
      <a class="btn btn-warning" role="button" href="/crash">Crash me</a>
