      <h2>Je suis l'instance n° <span class="badge badge-dark"><%= @instance %></span></h1>
      <h2>Mon adresse est <span class="badge badge-dark"><%= @addr %></span></h2>
<br/>
<h3>Visiteurs sur cette instance <span class="badge badge-info"> <%=@total_instance_responses%> </span></h3>
<h3>Visiteurs sur toutes les instances <span class="badge badge-info"><%=@total_app_responses%></span></h3>
      <a class="btn btn-warning" role="button" href="/crash">Crash me</a>
